@import "../../styles/baseStyles.css";

.item {
    width: 100%;
    min-height: 60px;
    margin: auto;
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px;
}

.item--date {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--grey-1);
    font-size: 0.8em;
}

.item--text {
    background: var(--grey-10);
    border: 1px solid var(--grey-10);
    color: var(--black-10);
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    border-radius: 16px;
    min-height: 40px;
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 20px;
}
.item--text:hover {
    /* box-shadow: 0 0 8px var(--grey-1); */
    border: 1px solid var(--grey-5);
}

.item--closeButton {
    position: absolute;
    opacity: 0.5;
    right: 0;
    top: 20px;
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: var(--red-8);
    font-size: 1em;
    border: none;
    color: var(--black-1);
    padding: 0;
    line-height: 32px;
}

.item--text:hover .item--closeButton{
    display: block;
}
