.task{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-bottom: 10px;
}

.isDone{
  background: #ddd;
  color:#444;
}

.task .message{
  padding: 5px 10px 5px 10px;
  display: flex;
  width: 90%;
  flex-direction:row;
}

.task .message .text{
  border:1px solid lightgrey;
  border-radius: 10px;
  padding: 1%;
  width: 100%;
}

.task button{
  padding:5px;
  border-radius: 5px;
}
.task .check{
  padding:5px;
}

.task .remove{
  padding:5px;
}