@import "../../styles/baseStyles.css";

.todoEdit {
    background: var(--grey-9);
    max-width: 60%;
    margin:auto;
    padding:20px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-between;
}

.footer--item {
    margin-right: 20px;
}

header {
    margin-bottom: 20px;
}
