@import "../../styles/baseStyles.css";

.todoEdit {
    background: var(--grey-9);
    max-width: 60%;
    margin:auto;
    padding:20px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
}

.footer--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.footer--row__total span {
    margin-right: 10px;
}
.footer--row__total {
    margin-right: 20px;
}

header {
    margin-bottom: 20px;
}
